# This starter workflow is for a CMake project running on a single platform. There is a different starter workflow if you need cross-platform coverage.
# See: https://github.com/actions/starter-workflows/blob/main/ci/cmake-multi-platform.yml
name: CMake on a single platform

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    # The CMake configure and build commands are platform agnostic and should work equally well on Windows or Mac.
    # You can convert this to a matrix build if you need cross-platform coverage.
    # See: https://docs.github.com/en/free-pro-team@latest/actions/learn-github-actions/managing-complex-workflows#using-a-build-matrix
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Configure CMake
      # Configure CMake in a 'build' subdirectory. `CMAKE_BUILD_TYPE` is only required if you are using a single-configuration generator such as make.
      # See https://cmake.org/cmake/help/latest/variable/CMAKE_BUILD_TYPE.html?highlight=cmake_build_type
      run: |
        cmake -B ${{github.workspace}}/build.rel -DCMAKE_BUILD_TYPE=Release
        cmake -B ${{github.workspace}}/build.dbg.asan -DCMAKE_BUILD_TYPE=Debug
        cmake -B ${{github.workspace}}/build.dbg.tsan -DCMAKE_BUILD_TYPE=Debug -DTSAN=ON

    - name: Build
      run: |
        cmake --build ${{github.workspace}}/build.rel --config Release
        cmake --build ${{github.workspace}}/build.dbg.asan --config Debug
        cmake --build ${{github.workspace}}/build.dbg.tsan --config Debug

    - name: Test
      run: |
        ( cd ${{github.workspace}}/build.rel && ctest -C Release )
        ( cd ${{github.workspace}}/build.dbg.asan && ctest -C Debug )
        ( cd ${{github.workspace}}/build.dbg.tsan && ctest -C Debug )

